/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: #3081ac;
}

body {
    background: url('../img/bg.jpg');
    font-family: Arial, sans-serif;
    font-size: 13px;
}

#header {
    width: 100%;
    height: 116px;
    background: #000000;
    position: relative;
}

#language-line {
    width: 100%;
    height: 27px;
}

#header-wrapper {
    width: 100%;
    position: relative;
    height: 79px;
    background: #ffffff;
    margin-top: 6px;
    z-index: 1;
    box-shadow: 0 15px 30px -25px black;
}

.center-wrapper {
    width: 981px;
    margin: 0 auto;
    position: relative;
}

#logo {
    width: 412px;
    height: 102px;
    background: url('../img/logo_bg.png') no-repeat;
    margin-left: -147px;
    float: left;
    position: relative;
    z-index: 3;
    margin-top: -90px;
}

#logo img {
    float: right;
    margin: 18px 60px 0 0;
}

#menu-wrapper {
    height: 79px;
    float: left;
    margin-top: -83px;
    margin-left: -30px;
    position: relative;
    z-index: 3;
}

#menu-left-border {
    height: 79px;
    width: 38px;
    background: url('../img/menu_left_border.png') no-repeat;
    float: left;
}

#menu {
    float: left;
    background: #ffffff;
    width: 678px;
    height: 79px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: 0 15px 25px -25px black;
}

#menu li {
    float: left;
    display: inline;
    height: 79px;
    line-height: 79px;
}

#menu li a {
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 12px;
    color: #050505;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 15px;
}

#menu li:hover {
    background-color: #ededed;
}

#menu li.active {
    height: 79px;
    margin-top: -1px;
    border-top: 1px solid #050505;
    border-bottom: 3px solid #050505;
    background: url('../img/menu_active_bg.png') center bottom no-repeat;
}

#menu li.active a {
    color: #368db4;
}

#right-wrapper {
    width: 50%;
    float:right;
    margin-top: -79px;
    height: 79px;
    background: #ffffff;
}

#left-wrapper {
    width: 25%;
    float: left;
    height: 79px;
    background: #ffffff url('../img/logo_bg3.png') no-repeat right top;
    margin-top: 7px;
}

#content {
    margin: 0 auto 0;
    background: #ffffff;
    width: 981px;
    position: relative;
    overflow: hidden;
    padding-bottom: 102px;
    clear: both;
    top: -102px;
    box-shadow: inset 0 8px 6px -6px black;
}

#footer {
    margin-top: -102px;
    width: 100%;
    height: 260px;
    background: #373737;
}

#footer-wrapper {
    width: 981px;
    margin: 0 auto;
}

.footer-block {
    float: left;
    margin-top: 25px;
    margin-left: 75px;
    width: 240px;
}

.footer-block-first {
    margin-left: 33px;
}

#footer h3, #footer h3 a {
    color: #368db4;
    font-size: 15px;
    font-weight: bold;
}

#footer .text {
    color: #b4b6b8;
    font-size: 13px;
}

#png-icon {
    margin: 0 0 10px 35px;
    display: block;
}

a#download {
    width: 146px;
    height: 106px;
    background: url('../img/download_bg.png') no-repeat;
}

#footer #footer-phone {
    font-size: 18px;
    color: #b4b6b8;
}

#footer #footer-email a {
    font-size: 13px;
    color: #368db4;
}

.footer-block-contacts {
    width: auto;
}

.footer-block-menu {
    width: auto;
    margin-left: 0;
}

#footer-menu {
    list-style-type: none;
}

#footer-menu li {
    margin-bottom: 10px;
}

#footer-menu li a {
    color: #368db4;
    text-decoration: underline;
    font-size: 13px;
}

#footer-menu li a:hover {
    text-decoration: none;
}

#copyright {
    width: 100%;
    height: 45px;
    background: #050505;
}

#copyright-wrapper {
    width: 981px;
    margin: 0 auto;
    font-size: 13px;
    color: #5b5b5b;
    line-height: 45px;
}

#copyright-wrapper span {
    margin-left: 33px;
}


#main-image {
    width: 100%;
    height: 100%;
    background: url('../img/home.jpg') no-repeat;
    z-index: 2;
    position: relative;
    box-shadow: inset 0 8px 6px -6px black;
}

#main-image-wrapper {
    width: 919px;
    height: 468px;
    margin: 0 auto;
    box-shadow: 0 15px 16px -6px rgba(50, 50, 50, 0.45);
}

.page #main-image-wrapper {
    height: 214px;
}

#showcase {
    width: 359px;
    height: 159px;
    background: #ffffff;
    border-bottom: 7px solid #000000;
    margin: -249px 0 0 471px;
    position: absolute;
    padding: 25px;
    z-index: 4;
    box-shadow: 0 15px 25px -25px black;
}

.showcase-content {
    /*margin: 25px 0 0 25px;*/
}

.showcase-content h2 {
    font-size: 30px;
    color: #050505;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.showcase-content .text {
    color: #444444;
    font-size: 13px;
}

.showcase-content .button {
    float: right;
    margin-right: 25px;
    margin-top: 15px;
}

.showcase-button-wrapper {
    clear: both;
    margin-top: -55px;
    text-align: center;
    position: relative;
}

.showcase-button-wrapper span {
    margin-right: 3px;
    padding: 2px 10px 3px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #444444;
    background: url('../img/slider_button.png') no-repeat;
}

.showcase-button-wrapper span.active {
    background: url('../img/slider_button_active.png') no-repeat;
}

.showcase-button-wrapper span.active:hover {
    background: url('../img/slider_button_active.png') no-repeat;
}


.showcase-button-wrapper span:hover {
    background: url('../img/slider_button_hover.png') no-repeat;
}


.home-content {
    float: left;
    margin-top: 10px;
    margin-left: 33px;
    width: 425px;
}

.home-content h2 {
    font-size: 20px;
    color: #3f3f3f;
}

.home-content .content {
    margin-top: 10px;
}

.home-content img {
    float: left;
    margin-right: 10px;
    border: 1px solid #e2e2e2;
}

.home-content h3, .home-content h3 a {
    color: #368db4;
    font-size: 15px;
    margin-bottom: 5px;
}

.home-content .text {
    font-size: 14px;
    color: #6f6f6f;
}


#content-wrapper {
    margin-left: 33px;
    margin-top: 25px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin: 0 0 15px 0;
}

.product {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    overflow: hidden;
    width: 915px;
}

.product .product-image {
    display: inline;
    float: left;
    width: 278px;
    border: 1px solid #e2e2e2;
}

.product .product-description {
    float: left;
    margin-left: 25px;
    width: 600px;
}

.product h2 {
    font-size: 20px;
    color: #3a3a3a;
    font-weight: bold;
    margin-top: -5px;
}

.product .text {
    font-size: 14px;
    color: #3a3a3a;
}

.more-link {
    margin-left: 200px;
    text-decoration: none;
    color: #368db4;
    border-bottom: 1px dashed #368db4;
}

.hide-link {
    margin-left: 200px;
    text-decoration: none;
    color: #368db4;
    border-bottom: 1px dashed #368db4;
}


#phone-icon {
    width: 28px;
    height: 32px;
    background: url(../img/phone.png) no-repeat;
    float: left;
}

#phone-wrapper p {
    color: #212125;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

#phone-number {
    float: left;
    margin-left: 20px;
}

#phone-button {
    float: left;
    margin-left: 50px;
    width: 165px;
    height: 35px;
    border: 1px dashed #a8a8a9;
    text-align: center;
    padding: 15px;
}

#email-wrapper {
    clear: both;
    margin-top: 120px;
}

#email-icon {
    float: left;
    width: 28px;
    height: 20px;
    background: url(../img/email.png) no-repeat;
}

#email-link {
    float: left;
    margin-left: 20px;
}

#email-link a {
    font-size: 16px;
}

#contact-form {
    width: 545px;
    border: 1px dashed #a8a8a9;
    padding: 30px;
    clear: both;
    margin-top: 200px;
}

#contact-form h3 {
    font-size: 20px;
    color: #212125;
    font-weight: bold;
    margin: 0 0 20px 0;
}

#contact-form .input {
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    width: 90px;
    float: left;
    clear: left;
    line-height: 33px;
    margin-top: 3px;
}

input, textarea {
    width: 420px;
    height: 33px;
    border: 1px solid #d8d8d8;
    line-height: 33px;
    font-size: 16px;
    padding: 0 5px;
}

textarea {
    height: 100px;
    line-height: 18px;
    padding: 5px;
}

#contact-form .hint {
    margin-left: 90px;
    font-size: 11px;
    color: #929292;
}

#contact-form .actions {
    margin-left: 90px;
}

#captcha-image {
    margin-top: -2px;
}

#captcha-arrow {
    margin-left: 10px;
}

#contact-form input#captcha {
    width: 132px;
    height: 62px;
    margin-top: 2px;
    margin-left: 10px;
}

#form-submit {
    margin-top: 25px;
}

#content-left, #content-right {
    float: left;
}

#content-left {
    width: 605px;
}

#content-right {
    margin-left: 25px;
    margin-top: 10px;
    width: 285px;
    height: 200px;
}

#subscribe-wrapper, #information-wrapper {
    box-shadow: 0 15px 30px -25px black;
}

#subscribe-header {
    width: 100%;
    height: 40px;
    background: #373737 url('../img/subscribe_icon.png') no-repeat 240px center;
    color: #cdcdcd;
    font-size: 12px;
}

#subscribe-header span {
    margin-left: 20px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

#subscribe-content {
    width: 243px;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding: 20px;
    overflow: hidden;
}

#subscribe-email {
    width: 230px;
    margin-bottom: 20px;
}

#subscribe-content a {
    float: right;
}

#information-wrapper {
    margin-top: 30px;
}

#information-header {
    width: 100%;
    height: 40px;
    background: #ededed url('../img/info_icon.png') no-repeat 240px center;
    color: #050505;
    font-size: 12px;
}

#information-header span {
    margin-left: 20px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

#information-content {
    width: 243px;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding: 20px;
    overflow: hidden;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}